/* src/components/auth/TgncoShooter.css */

.bullet-hell-container {
  width: 600px;
  height: 600px;
  position: relative;
  box-shadow: 0 4px 32px rgba(0,0,0,0.5);
  background: #2c2c2c;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 375px) {
  .bullet-hell-container {
    width: 250px !important;
    height: 250px !important;
  }
} 

@media (max-width: 600px) {
  .bullet-hell-container {
    width: 350px !important;
    height: 350px !important;
  }
}