/* src/components/auth/TgncoShooter.css */

.tgnco-shooter-container {
  width: 1280px;
  height: 720px;
  position: relative;
  box-shadow: 0 4px 32px rgba(0,0,0,0.5);
  background: #111;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 375px) {
  .tgnco-shooter-container {
    width: 400px !important;
    height: 225px !important;
  }
} 